*~
out
.idea/workspace.xml
.idea/
!.idea/runConfigurations/*
.DS_Store
logs/
voxxr-crx/assets/
voxxr-crx/m.html
voxxr-crx/voxxr-crx.zip
voxxr-droid/bin
voxxr-droid/gen
voxxr-droid/assets
voxxr-room/lib
voxxr-room/target
voxxr-ios/Voxxrin/Voxxrin.xcodeproj/project.xcworkspace/xcuserdata/xavierhanin.xcuserdatad/UserInterfaceState.xcuserstate
voxxr-ios/Voxxrin/www/
voxxr-room/current-seed-ip
voxxr-room/voxxr.log
voxxr_rsa
voxxr_rsa.pub
voxxr-droid/node_modules/
voxxr-crawlers/node_modules/
voxxr-web/web/WEB-INF/classes/

