/* http://www.colourlovers.com/palette/1930/cheer_up_emo_kid
   + http://www.colourlovers.com/palette/2033/Llanowar_elf
 */
/* don't use web font, too slow to load on phone connection
  @about-font-family: "Asap","Georgia",sans-serif; */
/* FEEDBACK */
#feedback .rate {
  overflow: visible;
  padding: 5px;
  margin: 2px auto;
  position: relative;
  width: 280px;
  height: 60px;
}
#feedback .rate .star {
  /* background: @color3; /* url('../img/star_empty.png') no-repeat; */

  float: left;
  height: 48px;
  margin: 4px;
  width: 48px;
  border: 1px solid #333;
  -webkit-border-radius: 26px;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
  box-sizing: border-box;
}
#feedback .rate .star.vote {
  /* background:  @color6; /* url('../img/star_full.png') no-repeat; */

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbd405), to(#ffaf36));
}
#feedback .rate .star.voting {
  background: #fbd405;
}
#feedback .rate .star.over {
  background: url('../img/star_highlight.png') no-repeat;
}
#feedback .feeling {
  overflow: visible;
  padding: 5px;
  margin: 2px auto;
  position: relative;
  width: 180px;
  height: 60px;
}
#feedback .feeling a {
  float: left;
  height: 52px;
  margin: 4px;
  width: 52px;
  border: 1px solid #333;
  -webkit-border-radius: 8px;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
  box-sizing: border-box;
}
#feedback .feeling .applause {
  background: #c7f464;
}
#feedback .feeling .yawn {
  background: #c44d58;
}
#feedback .feeling .wonder {
  background: #4ecdc4;
}
/* PHONE */
#roomRT h1 {
  color: #4ecdc4;
}
#roomRT #feedback .dashboard {
  width: 260px;
  margin: 4px auto;
  text-align: center;
  font-size: 24px;
  color: #4ecdc4;
}
#roomRT #feedback .dashboard .ui-btn {
  margin: 4px 5px;
}
#roomRT #feedback .dashboard .sparks {
  margin-top: 5px;
}
#roomRT #poll {
  margin-top: 15px;
}
#roomRT #poll .nopoll {
  padding: 15px;
}
#jqt .slide.out {
  -webkit-transform: translatex(-100%);
  -webkit-animation-name: slideouttoleft;
  -moz-transform: translatex(-100%);
  -moz-animation-name: slideouttoleft;
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
}
#jqt .slide.in {
  -webkit-transform: translatex(0);
  -webkit-animation-name: slideintoleft;
  -moz-transform: translatex(0);
  -moz-animation-name: fadein;
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
}
#jqt .slide.out.reverse {
  -webkit-transform: translatex(100%);
  -webkit-animation-name: slideouttoright;
  -moz-transform: translatex(100%);
  -moz-animation-name: slideouttoright;
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
}
#jqt .slide.in.reverse {
  -webkit-transform: translatex(0);
  -webkit-animation-name: slideintoright;
  -moz-transform: translatex(0);
  -moz-animation-name: fadein;
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
}
@-webkit-keyframes slideouttoleft {
  from {
    -webkit-transform: translatex(0);
  }
  to {
    -webkit-transform: translatex(-100%);
  }
}
@-webkit-keyframes slideintoleft {
  from {
    -webkit-transform: translatex(100%);
  }
  to {
    -webkit-transform: translatex(0);
  }
}
@-moz-keyframes slideouttoleft {
  from {
    -moz-transform: translatex(0);
  }
  to {
    -moz-transform: translatex(-100%);
  }
}
@-webkit-keyframes slideouttoright {
  from {
    -webkit-transform: translatex(0);
  }
  to {
    -webkit-transform: translatex(100%);
  }
}
@-webkit-keyframes slideintoright {
  from {
    -webkit-transform: translatex(-100%);
  }
  to {
    -webkit-transform: translatex(0);
  }
}
@-moz-keyframes slideouttoright {
  from {
    -moz-transform: translatex(0);
  }
  to {
    -moz-transform: translatex(100%);
  }
}
#jqt .ui-content {
  padding-top: 0px;
}
#jqt .ui-content .ui-listview {
  margin-top: 0px;
}
#jqt .ui-content .ui-listview-filter {
  margin: 0px -15px;
}
#jqt .ui-content .message {
  padding: 15px;
}
#jqt ul li a.current {
  background-color: #c7f464;
  color: #000000;
}
#jqt ul li small {
  color: #c7f464;
  text-shadow: none;
}
#jqt p {
  margin: 0 10px;
}
#jqt h2 {
  margin: 5px;
  color: #556270;
  text-shadow: none;
}
#jqt h3 {
  margin: 10px 0 5px 20px;
  color: #556270;
  font-weight: normal;
}
#jqt h3:before {
  content: ":: ";
}
#jqt .ui-listview h3 {
  margin: 10px 0 5px 10px;
  color: #c7f464;
}
#jqt .ui-listview h3:before {
  content: "";
}
#jqt .ui-listview li.sep {
  color: #4ecdc4;
}
#jqt .ui-listview li em {
  font-size: 0.6em;
  margin-right: 10px;
}
#jqt .ui-listview li em:before {
  content: '\a';
  white-space: pre;
}
#jqt .ui-listview .presentation.favorite {
  border: 1px solid #F4C63F;
  background: #FADB4E;
  font-weight: bold;
  color: #222;
  text-shadow: 0 1px 0 white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffefaa), to(#ffe155));
  background-image: -webkit-linear-gradient(#ffefaa, #ffe155);
  background-image: -moz-linear-gradient(#ffefaa, #ffe155);
  background-image: -ms-linear-gradient(#ffefaa, #ffe155);
  background-image: -o-linear-gradient(#ffefaa, #ffe155);
  background-image: linear-gradient(#ffefaa, #ffe155);
}
#jqt .ui-listview .presentation.favorite h3 {
  color: #c44d58;
}
#jqt .ui-listview .presentation.favorite .speakers {
  color: #777;
}
#jqt .ui-listview .presentation.favorite a span {
  color: #222;
}
#jqt .ui-listview .presentation .favorites {
  display: block;
  float: left;
  padding-left: 20px;
  margin-right: 5px;
  background: url('../img/favorite.png') no-repeat;
  height: 16px;
}
#jqt .backBtn {
  left: 6px;
  right: auto;
  padding: 0;
  max-width: 55px;
  border-width: 0 8px 0 14px;
  -webkit-border-image: url(jqtouch/themes/jqt/img/back_button.png) 0 8 0 14;
}
#events .events li {
  min-height: 80px;
}
#dayschedule li .speakers {
  color: #4ecdc4;
}
#dayschedule li .room:before {
  content: "@ ";
}
#nowplaying .ui-content {
  padding-top: 15px;
}
#presentation .slot,
#presentation .room {
  color: #4ecdc4;
}
#presentation .room:before {
  content: "@ ";
}
#presentation h2 em {
  display: block;
  float: right;
  font-size: 0.7em;
}
#presentation .joinroom {
  margin-top: 27px;
}
#presentation div.summary {
  overflow-y: hidden;
  height: 5.5em;
}
#presentation div.summary.allDetails {
  height: auto;
}
#presentation .toggleFavorite {
  display: block;
  float: right;
  margin: 3px 0 0 5px;
  background: url('../img/favorite-no.png');
  height: 16px;
  width: 16px;
}
#presentation .toggleFavorite.favorite {
  background: url('../img/favorite.png');
}
.feeling img {
  margin: 8px;
}
.loading {
  display: block;
  height: 40px;
  width: 100%;
  background: url('../img/ajax-loader.gif') no-repeat center center;
  content: "";
}
#about h2 {
  font-size: 1.8em;
  font-family: "Helvetica Neue", Helvetica;
  color: #c7f464;
}
#about .subtitle {
  font-size: 1.2em;
  font-family: "Helvetica Neue", Helvetica;
  color: #4ecdc4;
  margin: 10px 5px 5px;
  border-bottom: 1px solid #4ecdc4;
  padding-bottom: 0.5em;
  padding-left: 40px;
}
#about p {
  margin: 10px 15px 5px;
  font-family: "Helvetica Neue", Helvetica;
}
#about p span,
#about li span {
  color: #c44d58;
  font-style: italic;
}
#about p span.voxxr {
  color: #AAA;
  font-style: italic;
}
#about .version {
  font-style: italic;
  font-size: 0.8em;
  color: #4ecdc4;
  border-top: 1px solid #4ecdc4;
  padding: 5px 10px 5px 40px;
  letter-spacing: 0.1em;
}
#about ul li {
  background-image: none;
  padding: 0px;
  border: none;
  display: block;
  height: 60px;
}
#about ul li img {
  float: left;
  display: block;
  margin-right: 5px;
}
#about ul {
  border: none;
  font: normal 1em "Helvetica Neue", Helvetica;
}
#about ui-content a {
  color: #556270;
}
