/* http://www.colourlovers.com/palette/1930/cheer_up_emo_kid
   #556270 #4ECDC4 #FF6B6B #C7F464 #C44D58

   + http://www.colourlovers.com/palette/2033/Llanowar_elf
   #FBD405 #FFAF36
 */

/* FEEDBACK */
#feedback { height: 300px;}
#feedback .rate {
    overflow:   visible;
    padding:    10px;
    margin:     5px auto;
    position:   relative;
    width:      300px;
    height:     60px;
}
#feedback .rate .star {
    /* background: #FF6B6B; /* url('../img/star_empty.png') no-repeat; */
    float:      left;
    height:     52px;
    margin:     4px;
    width:      52px;

    border: 1px solid #333;
    -webkit-border-radius: 26px;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C4D4E), to(#404142));
    box-sizing: border-box;
}
#feedback .rate .star.vote {
    /* background:  #FBD405; /* url('../img/star_full.png') no-repeat; */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBD405), to(#FFAF36));
}
#feedback .rate .star.voting {
    background: #FBD405;
}
#feedback .rate .star.over {
    background: url('../img/star_highlight.png') no-repeat;
}


#feedback .feeling {
    overflow:   visible;
    padding:    10px;
    margin:     5px auto;
    position:   relative;
    width:      180px;
    height:     60px;
}

#feedback .feeling a {
    float:      left;
    height:     52px;
    margin:     4px;
    width:      52px;
        
    border: 1px solid #333;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
    box-sizing: border-box;
}

#feedback .feeling .applause {
    background:  #C7F464;
}
#feedback .feeling .yawn {
    background:  #C44D58;
}
#feedback .feeling .wonder {
    background:  #4ECDC4;
}


/* DASHBOARD */
#dashboard .rate {
    padding: 20px;
}

#dashboard .rate .mean {
    font-size: 48px;
}

#rateDrops {
    width: 160px;
    height: 60px;
}

/* PHONE */
#roomRT h1 {
    color:  #4ECDC4;
}

#roomRT #feedback .dashboard {
    width: 260px;
    height: 52px;
    margin: 5px auto;
    text-align: center;
}

#roomRT #feedback .dashboard {
    font-size: 32px;
    color: #4ECDC4;
}

#roomRT #feedback .rateMean, #roomRT #feedback .connections {
    font-size: 44px;
    color: #C7F464;
}

#roomRT #feedback label.rate {
    padding-left: 40px;
}


#jqt ul li a.current {
    background-color: #C7F464;
    color: #000000;
}


#roomRT #poll {
    height: 300px;
}